
.FormInput input:invalid[focused="true"]~span {
    display: block;
}

.FormInput input:invalid[focused="true"]{
    border-bottom: 1px solid red;
}

.FormInput span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.formInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    text-align: center;
}

/* .FormInput input {
    padding: 15px;
    margin: 10px 0px;   top-bottom & left-right
    border-radius: 5px;
    border: 1px solid grey;
} */